@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Centra No2 Book';
  src: url('./fonts/CentraNo2-Book.ttf');
}

@font-face {
  font-family: 'Centra No2 Medium';
  src: url('./fonts/CentraNo2-Medium.ttf');
}

@font-face {
  font-family: 'Centra No2 Bold';
  src: url('./fonts/CentraNo2-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow: overlay;
}

span a p h1 {
  font-family: 'Centra No2 Book';
}

a {
  @apply text-zinc-400;
}

::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  @apply rounded-2xl bg-gray-400/40 hover:bg-gray-400 transition-all duration-500;
}
