@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Centra No2 Book';
  src: url('./fonts/CentraNo2-Book.ttf');
}

@font-face {
  font-family: 'Centra No2 Medium';
  src: url('./fonts/CentraNo2-Medium.ttf');
}

@font-face {
  font-family: 'Centra No2 Bold';
  src: url('./fonts/CentraNo2-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

span a p h1 {
  font-family: 'Centra No2 Book';
}

a {
  @apply text-zinc-400;
}
